/*09-06-2025*/

.content-section { display: none; }

.selected-row { background-color: #f5f5f5;}

.button-container {
  display: flex;
  justify-content: flex-end; 
  padding: 1rem;             
}

#cancelBtn {
  background-color: #facc15; /* Yellow */
  color: #000;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  font-weight: bold;
  cursor: pointer;
}

#cancelBtn:hover {
  background-color: #eab308; /* Darker yellow on hover */
}

/* Common button styling */
.button-common {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

/* Blue buttons */
.blue-button {
  background-color: #3b82f6; /* Tailwind's blue-500 */
  color: white;
}

.blue-button:hover {
  background-color: #2563eb; /* Tailwind's blue-600 */
}

/* Red button for delete */
.red-button {
  background-color: #ef4444; /* Tailwind's red-500 */
  color: white;
}

.red-button:hover {
  background-color: #dc2626; /* Tailwind's red-600 */
}

.limited-textarea {
  overflow-y: hidden;
  resize: none;
}

.required {
  color: red;
  margin-left: 2px;
}

.nc-shadow-box {
  box-shadow: 0 4px 16px rgba(0,0,0,0.38); /* Strong black shadow */
  border-radius: 8px;
  background: #fff; /* Or your preferred background */
  padding: 1.5em;
  border: 1px solid #e0e0e0;
}



